#root {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
.content {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(235, 0, 0);
  max-height: 20vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
}
.ticket-slider-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  width: 96vw;
  max-width: 400px;
  height: 45px;
}

.ticket-slider {
  position: relative;
  display: flex;
  justify-content: center;

  align-items: center;

  background-color: rgb(197, 0, 24);
  padding: 6px;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
}

.ticket-slider .tab {
  flex: 1;
  padding: 10px 0;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.ticket-slider .tab.active {
  font-weight: 600;
  color: #fff;
}
.slider-indicator {
  position: absolute;

  height: 110%;
  background-color: rgb(235, 0, 0);
  border: solid 1px rgb(161, 0, 19);
  border-radius: 30px;
  z-index: 1;
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

/* Card Container */
.card-container {
  width: 96vw;
  height: 50vh;
  max-width: 400px;
  margin-top: 12px;
  position: relative;
  background-color: #282828;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

/* Slider */
.card-slider {
  width: 100%;
  height: 37vh;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: border-box;
}

/* Header */
.card-header {
  background-color: rgb(197, 20, 22);
  padding: 10px;
  border-radius: 12px 12px 0 0;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.card-header-title {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 170px;
}

.card-header-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 0px;
}

.card-header-info .name {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
}

.card-header-info .birth {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0px;
}

/* Pages */
.card-page {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.page-content.row {
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.page-content.column {
  background-color: #282828;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.qr-code {
  object-fit: contain;
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 8px;
  margin: 0;
}

.profile-picture {
  object-fit: contain;
  width: auto;
  height: 180px;
  border-radius: 8px;
  margin: 0;
}

/* Info Page */
.card-info .label {
  margin: 0;
  font-weight: 100;
  font-size: 14px;
}
.card-info .info {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 6px;

  font-weight: 100;
  font-size: 16px;
}

/* Page Indicators */
.page-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #fff;
}
