:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  background-color: rgb(235, 0, 0);
}
