:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(21, 21, 21);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 0, 0);
}
