:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  height: auto; 
  touch-action: auto; 
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: env(safe-area-inset-top) 0 0 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
  background-color: rgb(235, 0, 0);
  z-index: 1000;
}
