:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
    position: relative;
  height: auto; 
  touch-action: auto; 
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.safearea-top,
.safearea-bottom {
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 9999;
}
.safearea-top { top: 0; }
.safearea-bottom { bottom: 0; }
