:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    180deg,
    rgba(233, 1, 1, 1) 0%,
    rgba(21, 21, 21, 1) 28%,
    rgba(21, 21, 21, 1) 100%
  );
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
