:root {
  font-family: "Helvetica";
  color: rgba(255, 255, 255, 0.87);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: none;
  overscroll-behavior: none;
  background-color: rgb(0, 0, 0);
}

/* Safe area overlays */
.safearea-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: env(safe-area-inset-top, 30px);
  background: #d1001f;
  z-index: 9999;
}
.safearea-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: env(safe-area-inset-bottom, 30px);
  background: #e0e0e0;
  z-index: 9999;
}
